extends layout

block content

  h1 #{title}: #{book.title}
  hr

  h3 Summary
  p= book.summary

  if book.author.name.length

    p #[strong Please delete the author before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Author

      a(href=book.author.url) #{book.author.name}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
